.mainbtn {
    width: 100%;
}
.basic-com-info-content h2 {
    overflow: hidden;
    white-space: nowrap;
}
.comp-img {
    width: 100%;
    margin-bottom: 15px;
    height: 100%;
    object-fit: scale-down;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 0px 0px 3px 0px;
}
.camapare-vehicle:first-child .compare-img {
    /* background-color: #fff; */
    /* border-radius: 19px; */
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    border: 1px solid #0000002b;
    border-radius: 25px;
    /* overflow: hidden; */
    box-sizing: 0px 0px 0px 3px;
}

.camapare-vehicle:nth-child(2) .compare-img {
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
    border: 1px solid #0000002b;
    border-radius: 25px;
    /* overflow: hidden; */
}
a.remove-comapre {
    position: absolute;
    top: 12px;
    right: 2%;
    border-radius: 50%;
    background: red;
    color: white;
    padding: 3px 7px;
    font-size: 10px;
}
a.add-compare {
    display: none;
}
.camapare-vehicle:nth-child(3):before {
    content: "vs";
    position: absolute;
    top: -11px;
    background: var(--dark);
    border-radius: 50%;
    width: 24px;
    text-align: center;
    color: white;
}

.camapare-vehicle {
    display: flex;
    justify-content: space-around;
    padding-top: 14px;
    position: relative;
}

.compare-discr {
    width: 50%;
    padding: 9px;
    text-align: center;
}
.compare-discr h3 {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ea952a;
}

div#first_vs:after {
    background: #f59b26;
    border-radius: 50%;
    color: #fff;
    content: "VS";
    padding: 19px;
    position: absolute;
    top: 42%;
    z-index: 99;
    margin-left: 101%;
    font-weight: 900;
}
p.comp-prize {
    font-size: 16px;
    color: #1c3162;
    border: 1px solid lightgray;
    border-radius: 9px;
    box-shadow: 0px 0px 3px 0px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}
p.comp-prize span {
    font-size: 16px;
    margin-right: 3px;
    color: #303d6a;
}
.mainbtn {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 6px 0;
    color: #303d6a;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    box-shadow: 0px 0px 3px 0px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.compre-butn {
    text-align: center;
}

.camapare-vehicle:nth-child(3) {
    border-top: 1px solid #00000042;
}
.Comapresion-div {
    display: flex;
    justify-content: space-around;
}
.basic-caompresion-img img {
    width: 100%;
}

.com-comapreion-img {
    position: relative;
}
div#comparisonMobile {
    margin: 8px;
}
.comap-stars img {
    width: 4%;
}
.basic-com-info-outer {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #0000001c;
    padding-bottom: 17px;
    padding-top: 19px;
}
.basic-com-info-outer h5 {
    height: 90px;
    background: white;
    margin-bottom: 23px;
}
.comap-stars {
    display: flex;
    justify-content: center;
}
.comp-review {
    text-align: center;
}
.basic-capeion-info h3 {
    text-align: center;
    margin-top: 28px;
}
 
.middle-compre {
    width: 10%;
    text-align: center;
}
.middle-compre h5 {
    padding: 4px;
    position: relative;
    font-size: 14px;
}
.middle-compre h5::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: #c5c5c5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    rotate: 45deg;

}


.comp-review h5 {
    position: relative;
    color: black;
    padding: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.basic-com-info-outer h5::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 3px solid #36363b1a;
}
div#CompareType .mobile-cotegory-outer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% 0;
    margin-left: 280px;
}
div#CompareType .mobile-cotegory-content {
    width: 22%;
    background: red;
    position: relative;
    /* margin-left: 2%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin-bottom: 2%;

}
div#CompareType .mobile-cotegory-content i {
    font-size: 81px;
    color: #289952;
}
div#CompareType .mobile-cotegory-content a {
    position: absolute;
    width: 100%;
    height: 100%;
}
div#CompareType .CompareType .section-title {
    margin-top: 33px;
}
.copmpare-item-flex-outer {
    display: flex;
    justify-content: center;
}

.camapare-vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.copmpare-item-flex-outer {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
}
.compare-img {
    width: 300px;
    position: relative;
    height: 300px;
}
.comapre-butn-outer {
    display: flex;
    justify-content: center;
}
.compre-butn {
    text-align: center;
    width: 25%;
}
.basic-caompresion-img:nth-child(2) .com-comapreion-img:before {
    content: "VS";
    position: absolute;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 9px;
    left: -3%;
    top: 50%;
}
.CompareType .mobile-cotegory-content h3 {
        /* display: none; */
        font-size: 15px;
        margin-top: 20px;
        color: #545454d9;
        text-align: center;
}
.basic-com-info-content {
    width: 33.3%;
    text-align: center;
}



/* =====================================================================================================================mobile======================================== */
@media only screen and (max-width: 768px) {
.mobile-inner-header {
    display: flex;
}
.basic-com-info-content {
    width: 40%;
}
.middle-compre {
    width: 20%;
}
.basic-caompresion-img:nth-child(2) .com-comapreion-img:before {
    left: -10%;
    top: 40%;
}
.mobile-inner-header {
    display: flex;
    padding: 6px;
    /* align-items: center; */
}
.mobile-inner-header a {
    margin-right: 7%;
    margin-bottom: 4px;
}
.camapare-vehicle {
    display: flex;
    flex-direction: row;
}
.copmpare-item-flex-outer {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.compare-img {
    width: 200px;
    height: 200px;
    object-fit: scale-down;
}
.compre-butn {
    width: 70%;
}
div#first_vs:after {
    position: absolute;
    top: 88%;
    margin-left: 37%;
}
.comapre-butn-outer {
    flex-direction: column;
    align-items: center;
}
div#CompareType .mobile-cotegory-content {
    width: 48%;
}




}