.auction {
  width: 80%;
  margin: 100px auto 80px auto;
}

@media only screen and (max-width: 500px) {
  .auction {
    width: 100%;
    margin: 100px auto 80px auto;
  }
}

@media only screen and (max-width: 1000px) {
  .auction {
    width: 100%;
    margin: 100px auto 80px auto;
  }
  .div-2 form {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
}

.auction .auction-card {
  margin: 20px;
}

.auction-card div:nth-child(1) {
  box-shadow: 5px 7px 35px 0 rgba(113, 113, 113, 0.1);
  border-radius: 5px;
  padding: 10px;
}
.div-2 button:hover {
  background-color: #000000a6;
  color: white;
}

.div-2 input {
  width: 100%;
}
.auction-card div img {
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  width: 321px;
  height: 254px;
  object-fit: cover;
}
.div-2 h2 {
  font-size: 25px;
  text-align: center;
}

.auction-card img {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
}
.auction-card {
  border-radius: 22px;
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 20%);
  margin: 0 1%;
  padding: 16px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.auction-card a {
  margin: 0px auto;
  text-decoration: none;
  padding: 7px 13px;
  border-radius: 19px;
  text-align: center;
  transition: 0.3s;
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
  background: #262681;
  color: white;
}
.auction-details h3 {
  font-size: 17px;
  font-family: "Poppins";
  font-weight: 600;
  text-align: left;
  margin-bottom: 8px;
}

.auction-details {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.auction-card div .auction-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
}

.auction-card div .auction-details h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.auction-card div .auction-details .outer-div {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 2px;
}

.auction-card div .auction-details div a {
  text-decoration: none;
  color: white;
  border: 1px solid black;
  padding: 4px 25px;
  background-color: black;
  border-radius: 5px;
  transition: 0.3s;
}

.auction-card div .auction-details div a:hover {
  background-color: #000000a6;
  color: white;
  border: 1px solid #00000000;
}

.auction-card .div-2 p {
  font-size: 13px;
}

.auction-card .div-2 div {
  margin-top: -22px;
}

.auction-card .div-2 div svg {
  font-size: 26px;
}

.auction-card div form {
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.auction-card .div-2 form input {
  border: none;
  outline: none;
  width: 70%;
  border-radius: 5px;
  padding-left: 12px;
}

.auction-card input::-webkit-outer-spin-button,
.auction-card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auction-card div form button {
  border: none;
  background-color: black;
  color: white;
  width: 30%;
  padding: 7px;
  transition: 0.3s;
  margin-right: 0px !important;
  border-radius: 0px !important;
}

.auction-card div form button:hover {
  background-color: #000000a6;
  color: white;
}

@media only screen and (max-width: 768px) {
  .auction-card {
    width: 97%;
    margin-top: 30px;
  }
  .div-2 form {
    border: 1px solid black;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
}
