.head-ag-list {
  font-size: 10px;
}

p.create-ac-heading {
  background-color: #1c3162;
  text-align: center;
  color: white;
  font-size: 25px;
  padding: 20px;
  font-weight: 600;
}
.buy-now-second {
  display: flex;
  justify-content: space-evenly;
}
select#agency {
  width: 100%;
  background: #fff;
}
.buy-side-right-bar-outer {
  padding: 5%;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 17px
}
.buy-side-right-bar-outer-2 {
  padding: 5%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 17px;
}
.buy-now-flex {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    line-height: 1.7;
    color: #fff;
}
.buynow-bg{
  background-color: #f2f2f2;
  margin-top: 126px;
}
.main-div-buy-now h3{
  text-align: center;
  margin-top: -14px;
}
input.refer-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
}
.offer-btn{
  color: #fff;
}
.ReactModal__Content.ReactModal__Content--after-open {
  margin: 12% 35%;
}
.form-control {
  margin-bottom: 10px;
}
.buynowmodelbox{
  background: url('../pages/images/bgCongo.gif');
}
.mb-3 {
  margin-bottom: 1rem!important;
  color: white;
}
.buy-right-bar {
  width: 28%;
  margin: 2% 0%;
}
.buynow-bg{
  background-color: #f2f2f2;
  margin-top: 126px;
}
img.party-on {
  width: 16%;
}
.congo {
  display: flex;
  justify-content: center;
}

.nnnnn {
  display: flex;
  justify-content: space-between;
}
.btn-success:hover {
  color: #1c3162;
  background: #170e0e;
}
.main-div-buy-now {
  width: 66%;
  margin: 2% auto;
  padding: 5%;
  background: #26386e;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 17px
}
.book-your-2 {
  color: #26386e;
  text-align: center;
}
.testdrive-btn-2 {
  display: block;
  margin: 0px auto;
  width: 22%;
  color: white;
  background-color: #e38306 !important;
  border: 1px solid #e38306 !important;
}
.testdrive-btn-2:hover {
  display: block;
  margin: 0px auto;
  width: 22%;
  background-color: white !important;
  color: #e38306;
  border:  1px solid #e38306;

}
.main-div-buy-now-2 {
  width: 66%;
  margin: 2% auto;
  padding: 2% 5%;
  background: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 17px;
}
.buy-now-second-2 {
  display: flex;
  justify-content: space-evenly;
  background: #26386e;
  padding: 2px 46px;
}
.label-date {
  font-size: 10px;
  font-weight: 600;
  margin-left: 12px;
  color: #fff;
}
.testdrive-img-2 {
  position: absolute;
  top: 51%;
  width: 27%;
  left: 18%;
}
@media only screen and (max-width: 768px) {
  .buy-now-second {
    display: block;
    margin: 19px;
}
.buy-now-second-2 {
  display: block;
  background: #26386e;
  padding: 2px 46px;
}
.main-div-buy-now-2 {
  width: 100%;
  margin: 0% auto;
}
.buy-right-bar {
  width: 100%;
  margin: 2% 0%;
}
.testdrive-btn-2 {
  display: block;
  margin: 0px auto;
  width: 35%;
}
.main-div-buy-now h3 {
  text-align: center;
  margin-top: -14px;
  font-size: 19px !important;
}
.buynow-bg {
  background-color: #f2f2f2;
  margin-top: 139px;
  margin-bottom: 63px;
}
.ReactModal__Content.ReactModal__Content--after-open {
  margin: 185px 0px;
}
img.party-on {
  width: 22%;
}
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }
  
  .number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  }
  
  .number-input input[type=number]::-webkit-inner-spin-button,
  .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  }
  
  .number-input button {
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  height: 2px;
  transform: translate(-50%, -50%);
  }
  
  .number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
  text-align: center;
  }
  
  .number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: .25rem;
  }
  
  .number-input.number-input button {
  width: 2.6rem;
  height: .7rem;
  }
  
  .number-input.number-input button.minus {
  padding-left: 10px;
  }
  
  .number-input.number-input button:before,
  .number-input.number-input button:after {
  width: .7rem;
  background-color: #495057;
  }
  
  .number-input.number-input input[type=number] {
  max-width: 4rem;
  padding: .5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
  }
  
  @media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color:transparent) {
  
  .number-input.def-number-input.safari_only button:before,
  .number-input.def-number-input.safari_only button:after {
  margin-top: -.3rem;
  }
  }
  }
  
  .shopping-cart .def-number-input.number-input {
  border: none;
  }
  
  .shopping-cart .def-number-input.number-input input[type=number] {
  max-width: 2rem;
  border: none;
  }
  
  .shopping-cart .def-number-input.number-input input[type=number].black-text,
  .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
  .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
  color: #212529 !important;
  }
  
  .shopping-cart .def-number-input.number-input button {
  width: 1rem;
  }
  
  .shopping-cart .def-number-input.number-input button:before,
  .shopping-cart .def-number-input.number-input button:after {
  width: .5rem;
  }
  
  .shopping-cart .def-number-input.number-input button.minus:before,
  .shopping-cart .def-number-input.number-input button.minus:after {
  background-color: #9e9e9e;
  }
  
  .shopping-cart .def-number-input.number-input button.plus:before,
  .shopping-cart .def-number-input.number-input button.plus:after {
  background-color: #4285f4;
  }
  .news-side-content-text{
    display:flex;
    margin-top: 3%;
  }
  .news-side-content-text button{
    width: 50%;
    border: none;
    background: linear-gradient(100deg,#f59b26,#26386e);
    color: white;
  }
  .news-side-content-text button {
    width: 50%;
    border: none;
    background: #e38306;
    color: white;
}
  .news-side-content-text Link{
    color: white;
  }
  .news-side-content-text.promo{
    width: 50%;
  }