/* Chatbot.css */
.chatbot-container button.message-icon {
background-color: transparent;
}
.chatbot-container {
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

button.message-icon {
  border: navajowhite;
}
/* .message-icon {
  position: fixed;
    bottom: 2%;
    left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: orange;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
} */

.message-icon.open {
  background-color: #dc3545;
}
.chatbot-container .title {
  font-size: 19px;
}
/* .chatbot-container .input-area {
  margin-top: 32%;
} */
.chat-window {
  position: fixed;
  bottom: 90px;
  left: 7%;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.3s;
  /* overflow-y: auto; */
}

.chat-window.open {
  transform: scale(1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #262680;
  color: #fff;
  position: absolute;
    width: 100%;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.close-button {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.message-window {
  padding: 10px;
  height: auto;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 transparent;
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  height: 350px;
}

.message {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.message-text {
  width: 100%;
}
.user {
  background-color: #e2e2e2;
}

.chatbot {
  background-color: #f1f1f1;
  width: 100%;
}

.input-area {
  padding: 10px;
  background-color: #fff;
}

.input-area input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.button-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.button-options button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #262680;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button-options button.show {
  animation: fadeIn 0.5s ease-in-out;
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
