.deal-img {
    width: 100px;
     height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .car-comment {
    font-size: 24px;
    font-weight: 700;
  }
  .dealer-person{
    text-decoration: none;
  }
  .btn-replay{
    text-decoration: none;
  }