.main-div-contact {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    align-items: center;
}
section#contact-us-page-id {
    margin-top: 1%;
    margin-bottom: 10%;
    z-index: 33;
    position: relative;
}
.contact-tanker {
    width: 50%;
    border: 2px solid #9b7f7f;
    margin-right: 2%;
    border-radius: 15px;
}
.contact-field{
    width: 90%;
}
.div-contact-corner {
    height: 280px;
    width: 280px;
    background-color: #26386e;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: 50px;
    left: -50px;
}
section#contact-us-page-id iframe {
    width: 100%;
    height: 650px;
}



@media only screen and (max-width: 768px) {
    .main-div-contact {
        margin-right: 10%;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
    }
    button.primary-btn {
        background: #26386e;
        color: white;
        padding: 6px 20px;
        border: navajowhite;
        border-radius: 5px;
        text-transform: uppercase;
    }

    button.primary-btn {
        background: #26386e;
        color: white;
        padding: 6px 20px;
        border: navajowhite;
        border-radius: 5px;
        text-transform: uppercase;
        width: 100%;
    }

    .contact-tanker h2 {
        text-align: center;
        margin-bottom: 35px;
    }
    .forms-input input {
        width: 25%;
        padding: 8px;
        border: 1px solid #dedede;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .contact-tanker {
        width: 100%;
        background-color: #fff;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

}
