.dealerlist {
    padding: 86px 54px;
    text-align: left;
    margin-left: 35px;
}
div#dealer-serch-input-id {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.find-dealer-block {
    background-color: #f5f6f6;
}
div#dealer-serch-input-id input {
    padding: 9px 24px;
    border-radius: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 255%;
    display: block;
}
.find-dealer {
    font-weight: 700;
    font-size: 19px;
}
.select-car{
    width: 300px;
    border: none;
}
.bg-select{
    background-color: #fff;
    margin: 0px 8px;
}
.search-btn {
    padding: 12px 75px;
    border-radius: 0px;
    font-size: 20px;
    background-color: #ce8339;
    border: none;
}
.store-list-deteil {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.store-list-deteil a {
    background: #1c3162;
    width: 25%;
    text-align: center;
    color: white;
    padding: 5px;
    border-radius: 6px;
}
.location-padding {
    padding: 26px 0px;
}
.reset-btn {
    display: flex;
    justify-content: flex-end;
}
.flatNo{
    color: #ce8339;
}
.dealer-address {
    font-size: 18px;
    font-weight: 600;
    margin-top: 2%;
    /* margin-bottom: 3%; */
    margin-left: 5%;
    margin-bottom: 2%;
}



select.sorting {
    width: 328px;
    float: right;
    background-color: #edeff1;
    border: none;
    padding: 10px 10px;
    font-weight: 600;
}
/* .car-logo {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
} */
.travelCar {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.rating-btn{
    list-style: none;
}
.rating-star {
    padding: 0px;
    display: flex;
    font-size: 12px;
    /* visibility: hidden; */
    color: #262681;
}
a.store-button {
    text-align: right;
    color: white;
    background: #262681;
    width: 70%;
    margin-right: 3%;
    text-align: center;
    border: 1px solid;
    border-radius: 7px;
    padding: 3px;
    font-size: 10px;
}

.rating-on {
    color: gold;
    padding: 1px;
}
.items-name {
    font-weight: 700;
}
.address-deal {
    color: black;
    font-weight: 700;
    width: 60%;
  
}

.google-find{
    font-weight: 400;
    color: #737f96;
    font-size: 14px;
    text-decoration: underline;
}
.car-purchase{
    font-size: 16px;
    font-weight: 400;
    color: #737f96;
}
.purchase-no{
    font-weight: 700;
    color: black;
}
.dealer-location {
    width: 16px;
    height: 16px;
}
.fa.fa-rotate-left {
    padding-top: 6px;
}
.row.flex-itencentr {
    align-items: center;
}
.dealerlist {
    padding: 86px 54px;
    text-align: left;
}
.select-car:focus-visible {
    outline: none;
  }
  h3.dealerlist-heading {
    text-align: left;
    margin: 23px 1px;
    font-weight: 600;
}
.data-disc-card {
    border: 1px solid;
    color: #262681;
    width: 75%;
    margin-top: 5%;
    border-radius: 5px;
    color: black;
    border-color: #262681;
    box-shadow: 1px 1px 0px 0px;
}

/* =========================================mobile view===================================== */

@media only screen and (max-width: 768px) {
    .row.main-div .col-md-1{
            width: 15%;
        }
        .form-control {
            width: 90%;
        }
        .col-md-3.travelCar {
            width: 38%;
        }
        .row.main-div .col-md-4 {
            width: 40%;
        }
        .dealerlist {
            padding: 38px 54px;
            margin: 0 auto;
        }
        select.sorting {
            margin-top: 50px;
        }
        .store-list-deteil a {
            background: #1c3162;
            width: 100%;
            text-align: center;
            color: white;
            padding: 5px;
            border-radius: 6px;
        }
        h3.firm-name-main{
            font-size: 12px;
            width: 100%;
        }
        .a.store-button{
            width: 50%;
        }
        
}
