img.fb {
  width: 15%;
  padding: 2px;
}
.electric-car {
  width: 100%;
  height: 416px;
}
.dealer-social {
  float: right;
  padding-top: 32px;
}
.anchor-decoration {
  text-decoration: none;
}
.stion-logo img {
  border-radius: 50%;
  width: 197px;
  height: 160px;
}
.deal-map {
  width: 327px;
  height: 224px;
  border: 0;
  /* " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" */
}
.sidebar-deal {
    background-color: #f5f6f6;
    border: 1px solid #d7dce6;
}
.dealer-info {
  padding: 8px 0px 0px 19px;
}
.travelCars {
    text-decoration: none;
    color:#0084c8;;
    font-size: 18px;
    font-weight: 700;
}
.car-logo-deal {
  width: 93%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.dealer-location-deal {
    width: 16px;
    padding-top: 11px;
    margin: 0px auto;
    display: block;
}
.address-dealer {
    color: #0084c8;
    font-weight: 700;
}
.phone-deal {
  margin: 0px 6px;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #676a71;
}
.phone-num {
  font-weight: 700;
  color: #ed3921;
}
.mail-deal {
  text-decoration: none;
  color: black;
}
.globe-deal {
  display: block;
  margin: 0px 6px;
  font-size: 20px;
  font-weight: 800;
  color: #695c5c;
}
.icon-fb {
  background-color: #2b53b8;
  color: #fff;
  padding: 7px 13px;
  border-radius: 4px;
}
.icon-twitter {
  background-color: #0096ff;
  color: #fff;
  padding: 7px 11px;
  border-radius: 4px;
}
.icon-google {
  background-color: #bf2828;
  color: #fff;
  padding: 7px 8px;
  border-radius: 4px;
}
.icon-tumblr {
  background-color: #2b4873;
  color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
}
.icon-rss {
  background-color: #f37214;
  color: #fff;
  padding: 7px 12px;
  border-radius: 4px;
}
.see-all-cars {
  float: right;
  color: #000;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
.see-all-cars:hover {
  float: right;
  color: #ce8339;
  font-weight: 600;
  text-decoration: underline;
  font-size: 18px;
}
.horizontal-line{
  margin: 7px;
}
.rating-star {
  padding: 0px;
  margin: 0px;
}
.deal-num {
  text-decoration: none;
  color: #000;
}
.professional-person {
  width: 86px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.deal-head {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.deal-head:hover {
  text-decoration: none;
  color: #f37214;
  font-size: 18px;
  font-weight: 700;
}
.check-avail-btn {
  background-color: #ce8339;
  border: none;
  font-size: 17px;
  padding: 8px 57px;
  border-radius: 0px;
}
.check-avail-btn:hover {
  background-color: #293957;
  border: none;
  font-size: 17px;
  padding: 8px 57px;
  border-radius: 0px;
}
.deal-mail {
  text-decoration: none;
}


/* ///// */
.review {
  background: #f2f3f5;
  padding: 23px;
}
.star-review {
  align-items: center;
  flex-direction: column;
}
.costumer-review div {
  align-items: center;
}
.costumer-review span {
  background: #e1e3e6;
  height: 17px;
  margin-left: 15px;
  width: 78%;
}


/* /// */
.bg-input{
  background-color: #f5f6f6;
}
.submit-review {
  background: #ce8339;
  border: none;
  border-radius: 0%;
  padding: 8px 18px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
.submit-review:hover {
  background: #293957;
  border: none;
  border-radius: 0%;
  padding: 8px 18px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
.submit-form {
  padding: 30px;
  border: 1px solid #c8bebe;
}
.textarea-border {
  border: 1px solid #c8bebe;
}
.see-reviews{
  font-size: 14px;
  color: #293957;
  text-transform: uppercase;
  font-weight: 700;
}
.see-reviews:hover{
  font-size: 14px;
  color: #ce8339;
  text-transform: uppercase;
  font-weight: 700;
}

.to-enter-location input{
  width: 50%;
  display: block;
}

.placeAuto{
  width: 100%;
}