@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&family=Roboto:wght@400;500&display=swap');
.enquiry-form {
  padding: 30px;
  border-radius: 5px;
}
.enquiry-form-2 {
  padding: 30px;
  border-radius: 5px;
}
.enquiry-bg-2 {
  position: absolute;
  top: 11%;
  width: 29%;
  left: 12%;
}
.label-fill-clr {
  color: #f47935;
}
.enquiry-title{
  text-align: center;
  color: #26386e;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}
.submit-fill-btn {
  margin: 0px auto;
  text-decoration: none;
  background-color: #1c3162;
  color: #fff;
  border: 1px solid #1c3162;
  padding: 7px 13px;
  border-radius: 19px;
  text-align: center;
  transition: 0.3s;
  font-size: 12px;
  margin-top: 10px;
  width: 34%;
}
.input-fill{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid  #21217c;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  border-radius: 6px;
  margin-bottom: 2%;
}
.enquiry-form h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 25px;
}
.enquiry-bg-clr {
  position: relative;
}

.label-enquiry {
  font-size: 10px;
  font-weight: 600;
  margin-left: 33px;
}

.Enquirybackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  filter: blur(2px);
}
.EnquiryAll {
  display: flex;
  justify-content: center;
  margin: 3% 6%;
  box-shadow: 0 1px 10px rgba(36, 39, 44, 0.15);
  border-radius: 5px;
}
.Enquiryformouter {
  width: 50%;
}
.EnquiryContent {
  width: 50%;
  background-image: url(./images/consultationimage.jpg);
  background-size: cover;
}
.EnquiryContent-enquiry {
  width: 50%;
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  /* margin-top: 10%; */
  background-image: url(./images/weareavailable.jpg);
  background-size: cover;
  border-radius: 0 5px 5px 0;
}
.enquiry-form input,
.enquiry-form textarea {
  display: block;
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 13px;
  color: #555;
  transition: border-color 0.2s ease-in-out;
  margin: 10px auto;
}
.enquiry-form-2 input,
.enquiry-form-2 textarea {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 13px;
  color: #555;
  transition: border-color 0.2s ease-in-out;
  margin: 10px auto;
}
.welcomeline {
  text-align: center;
  margin-top: 8%;
  background-color: #1c3162;
  color: white;
  padding-top: 1px;
  padding-bottom: 20px;
}
.welcomeline h3 {
  font-weight: 700;
  color: white;
}
.welcomeline p {
  letter-spacing: 11px;
  font-size: 9px;
  margin-left: 7px;
  color: white;
}

.enquiry-form input:focus,
.enquiry-form textarea:focus {
  outline: none;
  border-color: #1c3162;
}

.enquiry-form textarea {
  resize: none;
}

.enquiry-form button[type="submit"] {
  background-color: #1c3162;
  color: #fff;
  padding: 8px 45px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 2%;
  margin-left: auto;
}

.enquiry-form button[type="submit"]:hover {
  border: 1px solid #1c3162;
  color: #1c3162;
  background-color: #fff;
}

.enquiry-form .form-error {
  display: block;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ce8339;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.EnquiryContent h3 {
  color: black;
  margin-top: 10%;
}
.EnquiryContent p {
  color: white;
}
@media only screen and (max-width: 600px) {
  .EnquiryAll {
    position: relative;
  }
  .EnquiryContent {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .enquiry-bg img{
    height: 62vh;
  }
  .Enquiryformouter {
    width: 100%;
  }
  .enquiry-bg-2 {
    position: absolute;
    top: 4%;
    width: 44%;
    left: 7%;
}
  form.enquiry-form {
    z-index: 55;
    position: relative;
  }
  form.enquiry-form input {
    padding: 3px;
    font-size: 13px;
  }
  .enquiry-form label {
    font-size: 10px;
  }
  .EnquiryAll {
    margin: 0;
    margin-top: 50px;
  }
  .EnquiryContent {
    display: none;
    text-align: center;
  }
  .welcomeline {
    margin-top: 175px;
  }
  .EnquiryContent-enquiry {
    display: none;
  }
}
