.profile-outer .tanker {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
select.profile-logout {
    background: #1c3162;
    padding: 9px 16px;
    margin: 8px;
    border-radius: 11px;
    color: white;
    width: 68%;
}
.profile-image {
    width: 50%;
    margin-right: 5%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profilr-change-input {
    position: relative;
}
.profile-image img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.log-out-div {
    display: flex;
    flex-direction: column;
    width: 39%;
}
.update-pro{
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
    border-top: none;
    border-right: none;
    border-left: none;
    display: block;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #333;
    font-weight: 500;
}
.profilte-up-img img {
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
}
.profilte-up-img {
    text-align: center;
}
.profile-update-div {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    margin-bottom: 4%;
}
.update-pro:focus-visible {
    border-bottom: 1px solid #333;
    border-top: none !important;
    border-right: none;
    border-left: none;
    box-shadow: none;
    outline: navajowhite;
}
.update-btn-pro:hover{
    color: #0e1c3d;
    background-color: white;
}
.update-btn-pro{
    width: 21%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #1c3162;
    color: white;
    margin-top: 3%;
    height: 37px;
    border-radius: 16px;
}
h3.update-your-profile {
    /* margin-top: 15%; */
    margin-bottom: 3%;
    font-weight: 600;
    text-align: center;
}
.log-out-div i {
    margin-right: 11px;
}
.profile-basic-info p {
    margin: 13px 0px;
}
.profile-top-left {
    display: flex;
    justify-content: space-between;
    width: 64%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 101px 0px 0px 101px;
    right: 0;
    position: absolute;
    padding: 5% 2%;
}
.profilr-change-input {
    position: relative;
    width: 155px;
    height: 155px;
    margin-right: 7%;
}
.profile-outer {
    background: #e9e9e9;
    display: flex;
    align-items: center;
}
.profile-background-img {
    width: 50%;
    position: relative;
}
.profile-background-img h5 {
    color: rebeccapurple;
    font-family: 'Rockwell';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 59px;
    position: relative;
    left: 115%;
    margin-bottom: -59px;
}
.profile-background-img h5::before {
    content: "";
    background-color: #6633a3;
    height: 2px;
    width: 100%;
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
}
.profile-page-div {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}
.profile-basic-info h3 {
    text-align: left;
    font-size: 24px;
    text-transform: capitalize;
    font-family: inherit;
    color: #0e1c3d;
}
.profile-basic-info i {
    color: #0e1c3d;
    margin-right: 12px;
}
.info-info-profile .Carcard {
    width: 18%;
    margin-right: 1%;
}
.info-info-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.profile-all-info-outer {
    padding-top: 35px;
}
.log-out-div a {
    background: #1c3162;
    padding: 10px 16px;
    margin: 8px;
    border-radius: 12px;
    color: white;
    width: 69%;
}
.tabs-profile button {
    background: #1c3162;
    padding: 7px 11px;
    margin: 4px;
    color: white;
    border-radius: 10px;
    width: 17%;
}
.profile-all-info .Carcard {
    width: 20%;
}
svg.edit-pic {
    display: flex;
    justify-content: flex-start;
    width: 64%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 101px 0px 0px 101px;
    right: 0;
    position: absolute;
    align-items: center;
    display: none;
}
.update-btn-pic{
    margin: 0 auto;
    background-color: #1c3162;
    color: white;
    margin-top: 3%;
    margin-left: 38px;
}
.profile-background-img img {
    z-index: 0;
    position: relative;
}



/* ==================================================================meadia query start here================================= */
@media only screen and (max-width: 768px) {
.profile-outer {
    background: #e9e9e9;
    padding: 15px;
    position: relative;
}
select.profile-logout {
    font-size: 10px;
}
.update-pro {
    border: none;
}
select.profile-logout {
    border-radius: 14px;
    width: 44%;
}

.profile-basic-info p {
    margin: 6px 0px;
    font-size: 18px;
    text-align: left;
}
.profile-background-img h5 {
    position: absolute;
    left: 0;
    margin: 0;
    z-index: 1;
    right: 0;
    margin-left: auto;
    text-align: center;
    color: white;
}
.profile-top-left {
    width: 93%;
    border-radius: 20px;
    display: flex;
    top: 19%;
    flex-direction: column;
    left: 0;
    right: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: -1px 4px 42px -1px;
    background: #ffffffe0;
}

.log-out-div a {
    width: 28%;
    font-size: 8px;
    padding: 9px 4px;
    text-align: center;
}
.profile-basic-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.profile-background-img {
    width: 100%;
}
.profile-basic-info p {
    margin: 6px 0px;
    font-size: 18px;
}
.log-out-div {
    flex-direction: row !important;
    width: 100%;
}
.profile-image img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profilr-change-input {
    width: 70px;
    height: 70px;
}
.profile-image {
    width: 100%;
}

.tabs-profile button {
    background: #1c3162;
    padding: 7px 2px;
    margin: 5px;
    border: 1px solid black;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    width: 30%;
}
.profile-basic-info h3 {
    text-align: left;
    font-size: 20px;
    text-transform: capitalize;
    font-family: inherit;
    color: #0e1c3d;
}
.profile-outer {
    background: white;
    padding: 0px;
}
.update-pro{
    border: 1px solid #333;
    margin-top: 30px;
    width: 80%;
}
h3.update-your-profile {
    /* margin-top: 15%; */
    margin-bottom: 3%;
    font-weight: 600;
    text-align: center;
    /* margin-top: 175px; */
}
.update-btn-pro {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    background-color: #1c3162;
    color: white;
    margin-top: 8%;
    height: 37px;
}
.tabs-profile {
    display: flex;
    flex-wrap: wrap;
}
.log-out-div i {
    margin-right: 1px;
}
.profile-all-info .Carcard {
    width: 50%;
}
.profile-update-div {
    width: 100%;
}
.h3.update-your-profile{
    margin-top: 1%;
}
.form-class{
    width: 80%;
    margin: 0 auto;
}
}



.product-found {
    text-align: center;
    margin: 64px 0px;
}




/* model css */


.custom-model-main {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* z-index: 1050; */
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
  }
  .custom-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 600px;
    margin: 30px auto;
    max-width: 97%;
  }
  .custom-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-height: calc(100vh - 70px);
      overflow-y: auto;
  }
  .model-open .custom-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
  }
  .model-open .bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
  }
  .bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
  }
  .close-btn {
    position: absolute;
    right: -27px;
    top: -45px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #fff;
  }
  
  @media screen and (min-width:800px){
      .custom-model-main:before {
        content: "";
        display: inline-block;
        height: auto;
        vertical-align: middle;
        margin-right: -0px;
        height: 100%;
      }
  }
  @media screen and (max-width:799px){
    .custom-model-inner{margin-top: 40% !important;}
  }
  

  .card-box-2 {
    border: 1px solid white;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(36,39,44,.15);
  }

  .card-box-2 p{
    font-size: 15px;
    color: #ed028c !important;
    font-weight: bold;
  }



  .h2-cls-123 h2{
    margin-top: 20px;
    margin: 10px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #ed028c !important;
    text-align: start;
  }


  .strong-cls-123{
    font-size: 19px !important;
  }


  .model-cls input{
     margin: 20px auto;
     border-radius: 2px;
     
  }

  .model-cls button{
    margin: 5px auto;
    display: block;
    padding: 5px 40px;
    border-radius: 2px;
    background-color: #0b1427;
  }