.back-to-home a {
  font-size: 12px;
  border: 1px solid;
  padding: 6px;
  border-radius: 10px;
}
.back-to-home svg {
  margin-right: 8px;
}
img.storepage-outer {
    width: 100%;
    height: 550px;
}
.back-to-home a {
  display: flex;
  align-items: center;
}
.back-to-home a {
  font-size: 13px;
  border-radius: 10px;
  border: 1px solid;
  padding: 4px;
}
.back-to-home svg {
  margin-right: 7px;
}

.storepage-inner {
    margin-bottom: 5%;
}
.store-para {
    display: flex;
    z-index: 999;
    position: relative;
    align-items: center;
    justify-content: space-around;
}
.vehicle-log-outer {
  width: 10%;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    background-color: white;
    z-index: 1;
    display: flex;
    width: 100%;
}
p.storeheading {
    font-size: 25px;
    color: black;
    font-weight: 600;
}
h4.storepage-heading {
    font-family: "Roboto" !important;
    color: #f59d2b !important;
    padding: 1% 0% !important;
    font-size: 35px !important;
    text-align: center !important;
}
a.book-slot {
    vertical-align: middle;
    margin-top: 3%;
    color: white;
}
.book-slot:hover{
    color: #1c3162;
}
.charging-book:hover{
    color: #1c3162;
    background-color:white;
}
/* ////// */
.dealer-banner{
    /* Adjust this value to your desired height */
    overflow: hidden;
    background: #f3f3f3;
}


h6.storepage-heading {
    font-size: 19px;
}
.vendor-details{
  text-align: center;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;

}
table.table.table-bordered {
  text-align: center;
 
}

@media only screen and (max-width: 768px) {

.charging-book {
    width: 45%;
    display: block;
    margin: 0 auto;
    border: 1px solid #333;
    text-align: center;
    height: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: #1c3162;
    color: white;
}

.store-para {
    display: flex;
    z-index: 999;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}




/* ===================================================================================================================== */


.dealer-header-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
  }
  .tanker {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .dealer-header-logo {
    font-size: 31px;
    font-family: sans-serif;
    font-weight: 800;
    width: 20%;
  }
  .dealer-header-link {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dealer-header-link a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;
  }
  .mobilecarousel-outer img {
    width: 400px;
    height: 400%;
  }
  .mobilecarousel-outer img {
    width: 242px;
    height: 236%;
  }
  .dealer-banner-text {
    font-size: 60px;
  }
  .dealer-banner-text {
    font-size: 60px;
    width: 44%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .dealer-featuring-product-content {
    width: 50%;
  }
  .dealer-featuring-product-content img {
    width: 100%;
  }
  .dealer-featuring-product-texts {
    width: 50%;
  }
  .dealer-featuring-product-outer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  section.dealer-featuring-product {
    background: #f3f3f3;
  }
  .close-btn-popup{
    padding: 2px 15px;
    border-radius: 20px;
}
.model-opn-store--after-open{
  
    margin: 20% 32%;

}
  }






/* ===============================================media================================== */

@media only screen and (max-width: 500px){
  .store-image-oute {
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.vendor-details {
  text-align: center;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
}
table.table.table-bordered {
  background: #f3f3f3;
}
.dealer-banner-text {
  font-size: 60px;
  width: 30%;
  margin-left: 3%;
}
.store-image-outer {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.dealer-header-outer {
  display: flex;
  padding: 14px;
  align-items: stretch;
  flex-direction: column;
}
.dealer-header-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dealer-header-logo {
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 800;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact-store {
  color: black;
  font-weight: 600;
  padding: 5px 25px;
  border-radius: 17px;
  margin-top: 20px;
}
.dealer-banner-text-p{
  width: 85%;
  margin: 0 auto;
}
.dealer-banner-text h2 {
  font-size: 18px !important;
  text-align: center;
  margin-bottom: 35px;
  color: black;
}

.dealer-header-logo {
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
}
a.company-logo {
  border: 2px solid #f3f3f3;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 15%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: white;
  justify-content: center;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);;
}
.vehicle-log-outer {
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.15);;
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
.fot-store {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-evenly;

}



}
