a.whatsapp-floting-btn {
  border-radius: 28px;
  bottom: 15%;
  display: flex;
  background: white;
  padding-left: 0;
  text-decoration: none;
  box-shadow: 2px 2px 8px -4px black;
  align-items: center;
  z-index: 9999;
}

a.whatsapp-floting-btn i {
  font-size: 0;
  transition: .8s;
}

.reel-hover a.whatsapp-floting-btn i {
  font-size: 45px;
  transition: 1s;
}
a.reels-flotying-btn svg {
  font-size: 0;
  transition: 1.5s;
}
.reel-hover a.reels-flotying-btn svg {
  font-size: 45px;
  
}
.reel-hover a.reels-flotying-btn {
  height: auto;
}
a.reels-flotying-btn {
  height: 0;
}
.reel-hover .chatbot-container {
  height: auto;
}
.chatbot-container {
  height:0;
}
span.more-con-fot svg {
  font-size: 45px;
}
button.message-icon svg {
  font-size: 0;
  transition: 1s;
}
.reel-hover button.message-icon svg {
  font-size: 45px;
}

footer.footer-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5%;
  width: 100%;
}

.visitorsCount {
  background-color: none !important;
}

a.reels-floting-btnmobile {
  position: fixed;
  bottom: 16%;
  left: 5px;
  font-size: 54px;
  display: flex;
  align-items: center;
  background: white;
  padding-left: 0px;
  box-shadow: -2px 1px 19px -4px black;
  border-radius: 28px;
  padding-right: 17px;
}

.reels-floting-btndesktop {
  border-radius: 28px;
  position: fixed;
  bottom: 3%;
  display: flex;
  padding-left: 0;
  text-decoration: none;
  align-items: center;
  z-index: 9999;
  flex-direction: column;
  background: white;
  padding: 10px 6px;
}

.reels-floting-btndesktop svg {
  color: #337ab7;
}

.reel-hover p {
  font-size: 14px !important;
  width: 100% !important;
  margin-left: 5px;
}

.reels-floting-btndesktop p {
  color: black !important;
    margin-right: 0;
    font-family: sans-serif;
    font-weight: 400;
    position: relative;
    overflow: hidden;
    font-size: 0;
    transition: .9s;
    width: 0;
}

a.reels-floting-btnmobile p {
  font-size: 20px;
}

div#footer {
  z-index: 999;
  position: relative;
  padding-top: 1px;
  padding-bottom: 10px;
  z-index: 0;
  width: 100%;
  background-size: cover;
}

.footer-background-img {
  background-image: url(../pages/images/chargingstationfooter.png);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #1c3162;
}


div#flotingfooter {
  display: none;
}
div#footer p {
  color: white;
  font-size: 17px;
}
p.footer-headingp {
  margin: 0;
  font-weight: 900;
}
.footer-content:nth-child(2) {
  border-right: 3px solid white;
}
.footer-content {
  width: 25%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.footer-heading h3 {
  color: white;
  font-size: 25px;
}
.footer-content ul {
  padding: 0;
  list-style: none;
}
.footer-content a {
  text-decoration: none;
  color: white !important;
}

.footer-content input {
  background: #020635;
  border: 1px solid #232369;
  padding: 3px 20px;
  color: #1c3162;
}
.footer-content button {
  background: #035203;
  padding: 4px 24px;
  margin-top: 13px;
  border-radius: 7px;
  color: white;
}
.footer-logo img {
  width: 100%;
}
.footer-bottom {
  display: flex;
  align-items: center;
}
.footer-copyright {
  width: 100%;
  text-align: center;
}
.footer-copyright a {
  color: #99a3b6;
}
.footer-bottom {
  display: flex;
  align-items: center;
  margin-top: 28px;
  border: 3px solid white;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.footer-copyright p {
  margin-top: 10px !important;
  font-size: 10px !important;
}
div#footer .nabar-social-media a {
  color: #8a8ca7;
}
.brand-info p {
  margin-top: 0 !important;
}
.foater-height {
  height: 91px;
}
footer li,
footer p {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}

.mob-main {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mob-number-text {
  font-size: 14px;
  margin: 0px;
}

.mob-icon {
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  margin: 0px 6px;
  font-size: 18px;
}
.mail-to {
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  margin: 0px 3px;
  font-size: 32px;
}
.website-icon {
  color: #000;
  background: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  margin: 0px 4px;
  font-size: 32px;
}
@media only screen and (max-width: 768px) {
  .reels-floting-btndesktop {
    bottom: 3%;
  }
 }
